site_name: People Depot Docs
repo_url: https://github.com/hackforla/peopledepot
repo_name: hackforla/peopledepot
edit_uri: edit/main/docs/

theme:
  name: material
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - navigation.expand
    - navigation.indexes
    - navigation.sections
    - navigation.tabs

plugins:
  - search
  - autolinks
  - awesome-pages
  - meta
  - tags:
      tags_allowed:
        - git
        - GitHub Actions
        - Cognito
        - Authentication
        - Onboarding

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - pymdownx.betterem
  - pymdownx.blocks.details
  - pymdownx.critic:
      mode: view
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      title: On this page
      permalink: true

validation:
  absolute_links: relative_to_docs # MkDocs 1.6
  anchors: warn # MkDocs 1.6
  omitted_files: warn
  unrecognized_links: warn

watch:
  - README.md
  - CONTRIBUTING.md
  - LICENSE
