DEBUG=False
SECRET_KEY=replace-me-with-a-secret-key
DJANGO_PORT=8000
DJANGO_ALLOWED_HOSTS="localhost,127.0.0.1"

SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

# settings for db container environment variables in compose file
POSTGRES_USER=people_depot
POSTGRES_PASSWORD=people_depot
POSTGRES_DB=people_depot_aws

# postgres settings for docker
SQL_USER=people_depot
SQL_PASSWORD=people_depot
SQL_DATABASE=people_depot_aws
SQL_ENGINE=django.db.backends.postgresql
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres

COGNITO_DOMAIN=peopledepot
COGNITO_AWS_REGION=us-west-2
COGNITO_USER_POOL=us-west-2_Fn4rkZpuB

PEOPLE_DEPOT_API_SECRET=people-depot-api-secret
