django~=5.2.11
django-extensions
django-linear-migrations
django-phonenumber-field[phonenumbers]
django-timezone-field
djangorestframework
drf-jwt
drf-spectacular
markdown
psycopg2-binary
pytest-cov
pytest-django
pytest-xdist
tzdata
