asgiref==3.7.2
    # via django
attrs==23.2.0
    # via
    #   jsonschema
    #   referencing
black==24.2.0
    # via -r requirements.in
cffi==1.16.0
    # via cryptography
click==8.1.7
    # via black
coverage[toml]==7.4.3
    # via pytest-cov
cryptography==42.0.5
    # via pyjwt
django==4.2.11
    # via
    #   -r requirements.in
    #   django-extensions
    #   django-linear-migrations
    #   django-phonenumber-field
    #   django-timezone-field
    #   djangorestframework
    #   drf-jwt
    #   drf-spectacular
django-extensions==3.2.3
    # via -r requirements.in
django-linear-migrations==2.12.0
    # via -r requirements.in
django-phonenumber-field[phonenumbers]==7.3.0
    # via -r requirements.in
django-timezone-field==6.1.0
    # via -r requirements.in
djangorestframework==3.15.2
    # via
    #   -r requirements.in
    #   drf-jwt
    #   drf-spectacular
drf-jwt==1.19.2
    # via -r requirements.in
drf-spectacular==0.27.1
    # via -r requirements.in
flake8==7.0.0
    # via -r requirements.in
inflection==0.5.1
    # via drf-spectacular
iniconfig==2.0.0
    # via pytest
isort==5.13.2
    # via -r requirements.in
jsonschema==4.21.1
    # via drf-spectacular
jsonschema-specifications==2023.12.1
    # via jsonschema
markdown==3.5.2
    # via -r requirements.in
mccabe==0.7.0
    # via flake8
mypy-extensions==1.0.0
    # via black
packaging==23.2
    # via
    #   black
    #   pytest
pathspec==0.12.1
    # via black
phonenumbers==8.13.31
    # via django-phonenumber-field
platformdirs==4.2.0
    # via black
pluggy==1.4.0
    # via pytest
psycopg2-binary==2.9.9
    # via -r requirements.in
pycodestyle==2.11.1
    # via flake8
pycparser==2.21
    # via cffi
pyflakes==3.2.0
    # via flake8
pyjwt[crypto]==2.8.0
    # via
    #   drf-jwt
    #   pyjwt
pytest==8.0.2
    # via
    #   pytest-cov
    #   pytest-django
pytest-cov==4.1.0
    # via -r requirements.in
pytest-django==4.8.0
    # via -r requirements.in
pyyaml==6.0.1
    # via drf-spectacular
referencing==0.33.0
    # via
    #   jsonschema
    #   jsonschema-specifications
rpds-py==0.18.0
    # via
    #   jsonschema
    #   referencing
sqlparse==0.4.4
    # via django
tzdata==2024.1
    # via -r requirements.in
uritemplate==4.1.1
    # via drf-spectacular
