black
django~=4.2.0
django-extensions
django-linear-migrations
django-phonenumber-field[phonenumbers]
django-timezone-field
djangorestframework
drf-jwt
drf-spectacular
flake8
isort
markdown
psycopg2-binary
pydot
pytest-cov
pytest-django
tzdata
