asgiref==3.11.1
    # via django
cffi==2.0.0
    # via cryptography
cryptography==48.0.1
    # via pyjwt
django==4.2.30
    # via
    #   -r requirements-aws.in
    #   django-extensions
    #   django-phonenumber-field
    #   django-timezone-field
    #   djangorestframework
    #   drf-jwt
django-extensions==4.1
    # via -r requirements-aws.in
django-phonenumber-field==8.4.0
    # via -r requirements-aws.in
django-timezone-field==7.2.2
    # via -r requirements-aws.in
djangorestframework==3.17.1
    # via
    #   -r requirements-aws.in
    #   drf-jwt
drf-jwt==1.19.2
    # via -r requirements-aws.in
phonenumbers==9.0.32
    # via django-phonenumber-field
psycopg2-binary==2.9.12
    # via -r requirements-aws.in
pycparser==3.0
    # via cffi
pyjwt==2.13.0
    # via drf-jwt
sqlparse==0.5.5
    # via django
tzdata==2026.2
    # via -r requirements-aws.in
whitenoise==6.12.0
    # via -r requirements-aws.in
