<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <button id="cognito-login-btn">Login with Cognito</button>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <script type="text/javascript">
        document.getElementById('cognito-login-btn').onclick = function() {
            window.location.href = "https://{{ cognito_domain }}.auth.{{ cognito_aws_region }}.amazoncognito.com/login?client_id={{ cognito_client_id }}&response_type=token&scope=openid&redirect_uri={{ cognito_callback_url }}";
        };
    </script>
</body>
</html>
